<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>288535839111-j8tu8ch6goll8k3ott8bl6bd0tdc2hv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.288535839111-j8tu8ch6goll8k3ott8bl6bd0tdc2hv7</string>
	<key>API_KEY</key>
	<string>AIzaSyDcfluv3mY6E5fNYKmZJNzmtv_XsCEv664</string>
	<key>GCM_SENDER_ID</key>
	<string>288535839111</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecosoftvmsgate</string>
	<key>PROJECT_ID</key>
	<string>fir-test-1ed02</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-1ed02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:288535839111:ios:9f6fcd77f2b6c52bb51322</string>
</dict>
</plist>